@model MDS.Models.RepairSearch
<style type="text/css">
    td {
        padding: 5px;
    }
</style>
<h2 style="text-align: center;">Repair Search</h2>
@using (Html.BeginForm("RepairSearchList", "Repair", FormMethod.Post, new { id = "rpForm" }))
{   
    <div class="contact-info" style="margin: 25px;">
        <div class="content">
            <table width="100%">
                <tr>
                    <td>Repair:
                    </td>
                    <td colspan="2">
                        @if (Model.Resolved == "R")
                        {
                            @Html.RadioButtonFor(m => m.Resolved, "R", new { Name = "Resolved", Checked = "checked" }) <span>Resolved</span>
                            @Html.RadioButtonFor(m => m.Resolved, "N", new { Name = "Resolved" })<span>Not Resolved</span>
                            @Html.RadioButtonFor(m => m.Resolved, "E", new { Name = "Resolved" }) <span>Either</span>
                        }
                        else if (Model.Resolved == "N")
                        {
                            @Html.RadioButtonFor(m => m.Resolved, "R", new { Name = "Resolved" }) <span>Resolved</span>
                            @Html.RadioButtonFor(m => m.Resolved, "N", new { Name = "Resolved", Checked = "checked" })<span>Not Resolved</span>
                            @Html.RadioButtonFor(m => m.Resolved, "E", new { Name = "Resolved" }) <span>Either</span>
                        }
                        else
                        {
                            @Html.RadioButtonFor(m => m.Resolved, "R", new { Name = "Resolved" }) <span>Resolved</span>
                            @Html.RadioButtonFor(m => m.Resolved, "N", new { Name = "Resolved" })<span>Not Resolved</span>
                            @Html.RadioButtonFor(m => m.Resolved, "E", new { Name = "Resolved", Checked = "checked" }) <span>Either</span>
                        }

                    </td>
                    <td>Handover to customer:
                    </td>
                    <td colspan="2">
                        @if (Model.Complete == "C")
                        {  
                            @Html.RadioButtonFor(m => m.Complete, "C", new { Name = "Complete", Checked = "checked" }) <span>Complete</span>
                            @Html.RadioButtonFor(m => m.Complete, "I", new { Name = "Complete" })  <span>Incomplete</span>
                            @Html.RadioButtonFor(m => m.Complete, "E", new { Name = "Complete" })<span>Either</span>
                        }
                        else if (Model.Complete == "I")
                        {
                            @Html.RadioButtonFor(m => m.Complete, "C", new { Name = "Complete" }) <span>Complete</span>
                            @Html.RadioButtonFor(m => m.Complete, "I", new { Name = "Complete", Checked = "checked" })  <span>Incomplete</span>
                            @Html.RadioButtonFor(m => m.Complete, "E", new { Name = "Complete" })<span>Either</span>
                        }
                        else
                        {
                            @Html.RadioButtonFor(m => m.Complete, "C", new { Name = "Complete" }) <span>Complete</span>
                            @Html.RadioButtonFor(m => m.Complete, "I", new { Name = "Complete" })  <span>Incomplete</span>
                            @Html.RadioButtonFor(m => m.Complete, "E", new { Name = "Complete", Checked = "checked" })<span>Either</span>
                        }

                    </td>
                </tr>

                <tr>
                    <td>Only display repairs for Service jobs:</td>
                    <td colspan="5">
                        @Html.HiddenFor(m => m.ServiceJobID)
                        @Html.HiddenFor(m => m.ServiceData)
                        <span id="spDetails"></span></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Only display repairs for Equipment:</td>
                    <td>@Html.HiddenFor(m => m.SelectedEquipment)
                        @Html.HiddenFor(m => m.EquipmentData)
                        @(Html.Kendo().Window()
                            .Name("window1")
                            .Title("Equipment Search")
                            .Width(1000)
                            .Height(500)
                            .Visible(false)
                            .Iframe(true)
                             .Modal(true)
                            .Events(e => e.Close("onClose1"))
                            )
                        <a onclick="OpenWindow1();" class="button"><span style="font-weight: bold">Pick Equipment</span></a></td>
                    <td colspan="3"><span id="spDetails1"></span></td>
                    <td><a onclick="ClearEquipment();" id="btnEquipmentClear" class="button"><span style="font-weight: bold">Clear Equipment</span></a>  </td>
                </tr>



                <tr>
                    <td width="100">Equip Type:
                    </td>
                    <td>
                        @if (MDS.Controllers.LoginController.AllCustomers(User.Identity.Name))
                    {
                          @(Html.Kendo().DropDownListFor(m => m.Equiptype)
                          .Name("Equiptype")
                          .DataTextField("Name")
                          .DataValueField("EquipTypeCode")
                          .BindTo(Model.EquipTypeList)
                          .Filter("StartsWith")
                        .HtmlAttributes(new { style = "width:150px", data_required_msg = "Equip Type is required." })
                        )

                    }
                    else
                    {
                        
                    @(Html.Kendo().DropDownListFor(m => m.Equiptype)
                    
                          .Name("Equiptype")
                          .DataTextField("Name")
                          .DataValueField("EquipTypeCode")
                          .Filter("StartsWith")

                         .DataSource(dataSource =>
                          {
                              dataSource.Read(read =>
                              {
                                  read.Action("GetEquipmentTypeSite", "Service")
                                     .Data("CustomerSiteData");
                              })
                              .ServerFiltering(true);
                          })

                                  .AutoBind(false)
                                 .CascadeFrom("Customerid")
                          .HtmlAttributes(new { style = "width:150px", data_required_msg = "Equip Type is required." })
                        )
                        }

                    </td>
                    <td width="100">Customer:
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Customerid)
                          .Name("Customerid")
                           .Filter(MDS.Controllers.LoginController.SearchType)
                          .DataTextField("CompanyName")
                          .DataValueField("CustomerCode")
                          .BindTo(Model.CustomerList)
                          .HtmlAttributes(new { style = "width:150px", data_required_msg = "Customer is required." })
                        )

                    </td>
                    <td width="100">Customer Site:
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Department)
                          .Name("Department")
                          .DataTextField("Department")
                            .DataValueField("DepartmentID")
                          .DataSource(dataSource =>
                          {
                              dataSource.Read(read =>
                              {
                                  read.Action("GetCustomerSite", "Repair")
                                     .Data("CustomerSiteData");
                              })
                              .ServerFiltering(true);
                          })

                                  .AutoBind(false)
                                 .CascadeFrom("Customerid")
                           .HtmlAttributes(new { style = "width:150px", data_required_msg = "Customer Site is required." })
                        )

                    </td>
                </tr>
                <tr>
                    <td>Location:
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Locationid)
                                .Name("Locationid")
                                .DataTextField("Location")
                                .DataValueField("Locationid")
                                .DataSource(dataSource =>
                                  {
                                      dataSource.Read(read =>
                                      {
                                          read.Action("GetCustomerLocation", "Service")
                                             .Data("CustomerSiteData");
                                      })
                                      .ServerFiltering(true);
                                  })
                                  .AutoBind(false)
                                 .CascadeFrom("Customerid")
                                .HtmlAttributes(new { style = "width:150px" })
                            )
                    </td>
                    <td>Engineer:
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.EngineerID)
                                .Name("EngineerID")
                                 .Filter("startswith")
                                .DataTextField("EngineerName")
                                .DataValueField("EngineerID")
                                .BindTo(Model.EngineerList)
                                .HtmlAttributes(new { style = "width:150px", data_required_msg = "Principle Engineer is required." })
                            )
                    </td>
                    <td>Branch :
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Branchid)
                          .Name("Branchid")
                           .Enable(MDS.Controllers.LoginController.AllCustomers(User.Identity.Name))

                          .DataTextField("BranchName")
                          .DataValueField("BranchID")
                          .BindTo(Model.BranchList)
                          .HtmlAttributes(new { style = "width:150px", data_required_msg = "Branch is required." })
                        )
                    </td>
                </tr>
                <tr>
                    <td>Repair Job:
                    </td>
                    <td>@(Html.Kendo().TextBoxFor(m => m.RepairJob)
                                .Name("RepairJob")
                                .HtmlAttributes(new { style = "width: 150px " })
                            )
                    </td>
                    <td>Customer Order No:
                    </td>
                    <td>@(Html.Kendo().TextBoxFor(m => m.CustomerOrderNo)
                                .Name("CustomerOrderNo")
                                .HtmlAttributes(new { style = "width: 150px " })
                            )

                    </td>

                        <td colspan="2">
        <table>
            <tr style="color:navy">
<td>
    Limit number of Records to no more than:
</td>
<td>
    @(Html.Kendo().DropDownListFor(m => m.SelCnt)
                          .Name("SelCnt")
                          .BindTo(Model.Cnt)
                          .HtmlAttributes(new { style = "width:100%", data_required_msg = "Records is required." })
             
                          )
    </td>
    </tr>
    </table>
</td>

                </tr>
               <tr>
                    <td>Date In Filter:
                    </td>
                    <td>
                        @if (Model.DateInFilter)
                        {
                            @Html.CheckBox("ChkDateInFilter", true)
                        }
                        else
                        {
                            @Html.CheckBox("ChkDateInFilter", false)
                        }

                    </td>
                    <td class="datein">Date In From/To:
                    </td>
                    <td class="datein">
                        @(Html.Kendo().DatePickerFor(m => m.FromDate)
                            .Name("FromDate")
                            .Value(DateTime.Now.AddMonths(-1))
                            .Format("dd/MM/yyyy")
                            .ParseFormats(new string[] { "dd/MM/yyyy" })
            .HtmlAttributes(new { required = "required", type = "text", data_required_msg = "Date In is required." })
                            )

                    </td>
                    <td class="datein">
                        @(Html.Kendo().DatePickerFor(m => m.ToDate)
                            .Name("ToDate")
                            .Value(DateTime.Now)
                            .Format("dd/MM/yyyy")
            .HtmlAttributes(new { required = "required", type = "text", data_required_msg = "Date Out is required." })
                            )</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Date Out Filter:
                    </td>
                    <td>

                        @if (Model.DateOutFilter)
                        {
                            @Html.CheckBox("ChkDateOutFilter", true)
                        }
                        else
                        {
                            @Html.CheckBox("ChkDateOutFilter", false)
                        }


                    </td>
                    <td class="dateout">Date Out From/To:
                    </td>
                    <td class="dateout">@(Html.Kendo().DatePickerFor(m => m.OutFromDate)
                            .Name("OutFromDate")
                            .Value(DateTime.Now.AddMonths(-1))
                            .Format("dd/MM/yyyy")
                            .ParseFormats(new string[] { "dd/MM/yyyy" })
.HtmlAttributes(new { style = "width:120px", type = "text" })
                            )

                    </td>
                    <td class="dateout">@(Html.Kendo().DatePickerFor(m => m.OutToDate)
                            .Name("OutToDate")
                        .Value(DateTime.Now)
                            .Format("dd/MM/yyyy")
.HtmlAttributes(new { style = "width:120px", type = "text" })
                            )
                    </td>
                    <td>
                        <a class="button" onclick="$('#rpForm').submit();"><span>Search</span></a>
                        
                    </td>
                </tr>
                 <tr>
                    <td colspan="4"> <a onclick="cancel();" class="button"><span>Cancel</span></a>@Html.HiddenFor(m => m.DateInFilter)
                        @Html.HiddenFor(m => m.DateOutFilter)
                    </td>
                </tr>
            </table>

            <table width="100%">
                <tr>
                    <td colspan="6">
                        @(Html.Kendo().Grid(Model.Repairs)
.Name("rpGrid")
.Columns(columns =>
{

    if (ViewBag.PopUpService != null)
    {
        columns.Bound(p => p.JobCode).Title("Job No.").ClientTemplate(@Html.ActionLink("#=JobCode#", "EditPopUp", "Repair", new { id = "#=RepairUID#" }, null).ToHtmlString());
    }
    else
    {
        columns.Bound(p => p.JobCode).Title("Job No..").ClientTemplate(@Html.ActionLink("#=JobCode#", "Edit", "Repair", new { id = "#=RepairUID#" }, null).ToHtmlString());
    } 
    columns.Bound(p => p.RepairUID).Title("RepairUID").Visible(false);
    columns.Bound(p => p.Equipment).Title("Equip Item");
    columns.Bound(p => p.Customer).Title("Customer");
    columns.Bound(p => p.OrderNumber).Title("Order No");
    columns.Bound(p => p.DateIn).Title("Date In").ClientTemplate("#= (DateIn == null) ? ' ' : kendo.toString(DateIn, 'dd/MM/yyyy') #");
    columns.Bound(p => p.DateOut).Title("Date Out").ClientTemplate("#= (DateOut == null) ? ' ' : kendo.toString(DateOut, 'dd/MM/yyyy') #"); 
})
.Pageable()
.Sortable()
.Filterable()
.Selectable(s => s.Mode(GridSelectionMode.Single))
.DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(200)
        .ServerOperation(false)
     )
)
                    </td>
                </tr>

            </table>
        </div>
    </div>
    @Html.HiddenFor(m => m.ServiceClear)
    @Html.HiddenFor(m => m.EquipmentClear)   
}

<script>


    $(document).ready(function () {
        $("#spDetails").text('@Model.ServiceData');
        $("#spDetails1").text('@Model.EquipmentData');
        var EquipClear = '@Model.EquipmentClear';


        if (EquipClear == "C")
        { $("#btnEquipmentClear").show(); }
        else { $("#btnEquipmentClear").hide(); }

        var DateInFilter = '@Model.DateInFilter';
        var DateOutFilter = '@Model.DateOutFilter';

        if (DateInFilter == "True") {
            $(".datein").show();
        }
        else {
            $(".datein").hide();
        }
        if (DateOutFilter == "True") {
            $(".dateout").show();
        }
        else {
            $(".dateout").hide();
        }


        $("#ChkDateInFilter").click(function () {
            if ($(this).is(":checked")) {
                $(".datein").show();
                $("#DateInFilter").val(true);
            }
            else {
                $(".datein").hide();
                $("#DateInFilter").val(false);
            }
        });

        $("#ChkDateOutFilter").click(function () {
            if ($(this).is(":checked")) {
                $(".dateout").show();
                $("#DateOutFilter").val(true);
            }
            else {
                $(".dateout").hide();
                $("#DateOutFilter").val(false);
            }
        });

    });


    function ClearEquipment() {
        $('#EquipmentClear').val("");
        $("#SelectedEquipment").val("-1");
        $("#btnEquipmentClear").hide();
        $("#EquipmentData").val("");
        $('#spDetails1').text("");
    }


    function CustomerSiteData() {
        return {
            Customerid: $("#Customerid").val(),
            Branchid: $("#Branchid").val()
        };
    }

    function OpenWindow1() {

        var window1 = $("#window1").data("kendoWindow");

        window1.Visible = true;
        var actionURL = '@Url.Action("SearchEquipmentLoad", "Repair")';
        window1.refresh({
            url: actionURL,
            data: {}
        });
        var width95 = (screen.width) * 85 / 100;
        var height75 = (screen.height) * 65 / 100;
        window1.setOptions({ width: width95, height: height75 });
        window1.center();
        window1.open();
    }

    function onClose1(e) {
        $.ajax({
            url: '@Url.Action("GetEquipInfomationData", "Repair")',
            type: 'POST',
            datatype: "json",
            data: { EquipUID: $("#SelectedEquipment").val() },
            success: function (response) {
                $('#spDetails1').text(response.CustomerInfo);
                $('#EquipmentData').val(response.CustomerInfo);
                $("#btnEquipmentClear").show();
                $('#EquipmentClear').val("C");
            },
            error: function (req, status, error) {
                //  alert("R: " + req + " S: " + status + " E: " + error);
            }
        });
    }

    function cancel() {
        parent.$("#window").data("kendoWindow").close();
    }

</script>
