
@model MDS.Models.EquipmentSearch

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="breadcrumb">
     @Html.ActionLink("Home", "Index", "Dashboard")
    » @Html.ActionLink("Equipment", "Index", "Equipment")
</div>*@
<h1>Equipment Overdue for Service</h1>
<style type="text/css">
    td {
        padding: 5px;
    }

    #eqGrid tbody tr:hover {
        cursor: pointer !important;
    }
</style>
@using (Html.BeginForm("OverdueService", "Equipment", FormMethod.Post, new { id = "eqForm" }))
{
    <div class="contact-info">
        <div class="content">
            <table width="100%">
                <tr>
                    
                    <td colspan="2">
                        <span><b>Only display Equipment in service (not retired)</b></span>
                        
                    </td>
                    <td colspan="2">
                        <span><b>Only display Equipment currently service by @MDS.Controllers.LoginController.CompanyName</b></span>
                        
                    </td>
                </tr>
                <tr>
                         <td width="100">Customer:
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Customerid)
                          .Name("Customerid")
                          .Enable(MDS.Controllers.LoginController.AllCustomers(User.Identity.Name))
                          .DataTextField("CompanyName")
                          .DataValueField("CustomerCode")
                          .BindTo(Model.CustomerList)
                          .HtmlAttributes(new { style = "width:150px", data_required_msg = "Customer is required." })
                    .Filter(MDS.Controllers.LoginController.SearchType)
                          )

                    </td>


             @*  <td width="100">Customer Site:
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Department)
                          .Name("Department")
                          .DataTextField("Department")
                          .DataValueField("DepartmentID")
                          .DataSource(dataSource =>
                          {
                              dataSource.Read(read =>
                              {
                                  read.Action("GetCustomerSite", "Service")
                                     .Data("CustomerSiteData");
                              })
                              .ServerFiltering(true);
                          })

                                  .AutoBind(false)
                                 .CascadeFrom("Customerid")
                           .HtmlAttributes(new { style = "width:150px", data_required_msg = "Customer Site is required." })
                        )

                    </td>
                    <td>Location:
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Locationid)
                    .Filter("startswith")
                                .Name("Locationid")
                                .DataTextField("Location")
                                .DataValueField("Locationid")
                                .DataSource(dataSource =>
                                  {
                                      dataSource.Read(read =>
                                      {
                                          read.Action("GetCustomerLocation", "Service")
                                             .Data("CustomerSiteData");
                                      })
                                      .ServerFiltering(true);
                                  })
                                  .AutoBind(false)
                                 .CascadeFrom("Customerid")
                                .HtmlAttributes(new { style = "width:150px" })
                            )
                    </td>
                    </tr>
                <tr>*@
                                        <td width="100">Equip Type:
                    </td>
                    <td>
                          @(Html.Kendo().DropDownListFor(m => m.Equiptype)
                          .Name("Equiptype")
                          .DataTextField("Name")
                          .DataValueField("EquipTypeCode")
                          .BindTo(Model.EquipTypeList)
                          .Filter("StartsWith")
                        .HtmlAttributes(new { style = "width:150px", data_required_msg = "Equip Type is required." })
                        )

                    </td>

                    @*        <td>Model:
                    </td>
                     <td>@(Html.Kendo().DropDownListFor(m => m.ModelID)
                    .Filter("startswith")
                                .Name("ModelID")
                                .DataTextField("Model")
                                .DataValueField("ModelUID")
                                .DataSource(dataSource =>
                                  {
                                      dataSource.Read(read =>
                                      {
                                          read.Action("GetModelFromEquipType", "Equipment")
                                             .Data("EquipTypeData");
                                      })
                                      .ServerFiltering(true);
                                  })
                                  .AutoBind(false)
                                 .CascadeFrom("Equiptype")
                                .HtmlAttributes(new { style = "width:150px" })
                            )
                    </td>
                    *@
               
                    <td>Branch :
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Branchid)
                   
                          .Name("Branchid")
                          .DataTextField("BranchName")
                        .Enable(MDS.Controllers.LoginController.AllCustomers(User.Identity.Name))

                          .DataValueField("BranchID")
                          .BindTo(Model.BranchList)
                          .HtmlAttributes(new { style = "width:150px", data_required_msg = "Branch is required." })
                        )
                    </td>


                    <td>
                        <a class="button" onclick="$('#eqForm').submit();"><span>Search</span></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;
                    </td>
                </tr>
            </table>

            <table width="100%">
                <tr>
                    <td colspan="6">
                        @* <div style="overflow:scroll;width:65%">*@
                        @(Html.Kendo().Grid<MDS.Models.EquipmentSearchList>()
.Name("eqGrid")
.Columns(columns =>
{
        columns.Bound(p => p.Customer).Title("Customer").ClientTemplate(@Html.ActionLink("#=Customer#", "Edit", new { id = "#=EquipID#" }).ToHtmlString());
        columns.Bound(p => p.EquipID).Title("EquipID").Visible(false);
        columns.Bound(p => p.EquipDesc).Title("EquipDesc");
        columns.Bound(p => p.EquipementType).Title("EquipementType");
        columns.Bound(p => p.Manufacturer).Title("Manufacturer");
        columns.Bound(p => p.Model).Title("Model");
        columns.Bound(p => p.SerialNumber).Title("Services Per Year");

        columns.Bound(p => p.WarrantyExpirationDate).Format("{0:d}").Title("Last Service");
        columns.Bound(p => p.CustomerID).Format("{0:000000}").Title("Next Service");
 })
.Pageable()
.Sortable()
.Filterable()
.Selectable(s => s.Mode(GridSelectionMode.Single))
.DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetOverdue", "Equipment").Data("getFilterCriteria"))
        .PageSize(200)
        .ServerOperation(true)
     )
)
                        @*</div>*@
                    </td>
                </tr>

            </table>
        </div>
    </div>
    @*@(Html.Kendo().Window()
                            .Name("PrintWOList")
                            .Title("Equipment List")
                            .Width(1000)
                            .Height(600)
                            .Visible(false)
                            .Draggable(true)
                             .Modal(true)
                            .Iframe(true)
                            )*@
    
    @(Html.Kendo().Window()
                            .Name("EquipmentWindow")
                            .Title("Equipment Details")
                            .Width(1000)
                            .Height(600)
                            .Visible(false)
                            .Draggable(true)
                            .Iframe(true)
                            .Modal(true)
                            )
}
<script>
    function CustomerSiteData() {
        return {
            Customerid: $("#Customerid").val(),
            Branchid: $("#Branchid").val()
        };
    }
    function EquipTypeData() {
        return {
            Equiptype: $("#Equiptype").val(),
            Branchid: $("#Branchid").val()
        };
    }
    function getFilterCriteria() {
        return {
            Customerid: $("#Customerid").val(),
            Equiptype: $("#Equiptype").val(),
            Locationid: $("#Locationid").val(),
            Department: $("#Department").val(),
            SerachMDS: $("#SerachMDS").val(),
            DisplayEquip: $("#DisplayEquip").is(":checked"),
            ServiceMDS: $("#ServiceMDS").is(":checked"),
            ModelID:$("#ModelID").val()
        }; 
    }
    function AddNEWFromExisting()
    {
        var entityGrid = $("#eqGrid").data("kendoGrid");
        var selectedItem = entityGrid.dataItem(entityGrid.select());
        if (selectedItem == undefined) {
            ShowAlert("You have specified that you want the new item to be based on the currently-selected item. However you must first find and select the equipment item you wish to copy from, from the list");
            return false;
        }
        else {
            swal({
                title: "Are you sure?",
                text: "Do you wish to create a new item based on the currently-selected item of equipment?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "green",
                confirmButtonText: "Yes (The new equipment item will now be added to the database)",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
 function (isConfirm) {
     if (isConfirm) {
         $.ajax({
             url: '@Url.Action("AddNEWEquipmentExisting", "Equipment")',
             type: 'POST',
             datatype: "json",
             data: { equipmentID: selectedItem.EquipID },
             success: function (response) {
                 @*  var window = $("#EquipmentWindow").data("kendoWindow");
                 window.Visible = true;
                 var actionURL = '@Url.Action("EditPopUp", "Equipment")' + '/' + response.EquipmentID;
                 window.refresh({
                     url: actionURL
                 });
                 window.center();
                 window.open();*@

                 window.location.href = '@Url.Action("EditNew", "Equipment")'+ '/' + response.EquipmentID;
             },
             error: function (req, status, error) {
                 //  alert("R: " + req + " S: " + status + " E: " + error);
             }
         });
     }
     else{

     }
 });
        
        }
    }
    
    $(document).ready(function()
    {
        $("#btnPrintExcel").click(function (event) {
            var bid = '@Model.Branchid';
            window.open('Reports/EquipmentList.aspx?customerID=' + '@Model.Customerid' + '&equipmentType=' + '@Model.Equiptype' + '&BranchID=' + bid + '&inService=' + '@Model.DisplayEquip' + '&searchCode=' + '@Model.SerachMDS' + '&department=' + '@Model.Department' + '&location=' + '@Model.Locationid' + "&MDSNQ=" + '@Model.ServiceMDS' + '&ModelID=' + '@Model.ModelID' + '&Excel=true', 'Equipments', 'scrollbars=yes,fullscreen=yes,left=25,top=25,width=' + (screen.width - 50).toString() + ',height=' + (screen.height - 130).toString())

//            event.preventDefault();
  //          $.post('amp Url.Action("PrintEquipmentsExcel", "Equipment")', $("#eqForm").serialize(), function (data) {
    //            openCenteredWindow(data.URL);
      //      });
        });

        $("#btnPrint").click(function (event) {

            var bid = '@Model.Branchid';
            window.open('Reports/EquipmentList.aspx?customerID=' + '@Model.Customerid' + '&equipmentType=' + '@Model.Equiptype' + '&BranchID=' + bid + '&inService=' + '@Model.DisplayEquip' + '&searchCode=' + '@Model.SerachMDS' + '&department=' + '@Model.Department' + '&location=' + '@Model.Locationid' + "&MDSNQ=" + '@Model.ServiceMDS' + '&ModelID=' + '@Model.ModelID', 'Equipments', 'scrollbars=yes,fullscreen=yes,left=25,top=25,width=' + (screen.width - 50).toString() + ',height=' + (screen.height - 130).toString())
     
     //       event.preventDefault();
       //     $.post('amp Url.Action("PrintEquipments", "Equipment")', $("#eqForm").serialize(), function (data) {
         //       openCenteredWindow(data.URL);
           // });
        });

        $('#eqForm').live("keypress", function (e) {
            //alert('test');
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                e.preventDefault();
                e.stopPropagation();
                $(this).closest('form').submit();
            }
        });
        $("#btnDelete").click(function () {
            var entityGrid = $("#eqGrid").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            if (selectedItem == undefined) {
                ShowAlert("Please select the equipment first");
            }
            else {

                swal({
                    title: "",
                    text: "Are you SURE you want to delete this equipment now?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "green",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
function (isConfirm) {
    if (isConfirm) {
        var EquipID = selectedItem.EquipID;
        $.ajax({
            url: '@Url.Action("DeleteEquipment", "Equipment")',
            type: 'POST',
            datatype: "json",
            data: { EquipID: EquipID },
            success: function (response) {
                alert(response.msg);
                if (response.msg.indexOf("Successfully") >= 0) {
                    $("#eqForm").submit();
                }
            },
            error: function (req, status, error) {
            }
        });
    }
    else {
    }
});

}
         });

    });
</script>
