@model MDS.Models.EquipForm
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="breadcrumb">
     @Html.ActionLink("Home", "Index", "Dashboard")
    » @Html.ActionLink("Equipment Type and Test Script", "Index", "EquipType")
</div>*@
<style type="text/css">
    td {
        padding: 5px;
    }
</style>
@if (ViewBag.Popup != null && ViewBag.Popup == 1)
{ 
    <script type="text/javascript">
        $("#container-header").hide();
        $("#hdPopUp").val("1");
    </script>
}
<h1>Equipment Type and Test Script Detail</h1>
@using (Html.BeginForm("Add", "EquipType", FormMethod.Post, new { id = "AddForm" }))
{
    @Html.HiddenFor(mbox => mbox.ECode)
       @Html.HiddenFor(m => m.PopUp)
    <input id="hdPopUp" type="hidden" />
    <div id="box2">
        <table cellspacing="8" cellpadding="0" width="100%" border="0">
            <tr>
                <td colspan="2">
                    @Html.ValidationSummary(true)
                </td>
            </tr>
            <tr>
                <td width="50%">

                    <table>

                        <tr>
                            <td class="text">Equip Type Code <span style="color: red;">*</span></td>
                            <td>
                                @(Html.Kendo().TextBoxFor(mbox => mbox.Code)
                                            .Name("Code")
                                            .HtmlAttributes(new { data_required_msg = "Equip Type Code is required.", required = "required", style = "width: 120px", @maxlength = "10" })
                                            )
                            </td>

                            <td class="text">Name <span style="color: red;">*</span></td>
                            <td>
                                @(Html.Kendo().TextBoxFor(mbox => mbox.Name)
                                            .Name("Name")
                                            .HtmlAttributes(new { data_required_msg = "Name is required.", required = "required", style = "width: 340px", @maxlength = "50" })
                                            )
                            </td>
                        </tr>

                        <tr>
                            <td class="text">Description </td>
                            <td colspan="3">
                                @(Html.TextAreaFor(m => m.Description, new { style = "width: 500px;height:100px" })

                                                         )
                            </td>
                        </tr>
                        <tr>
                            <td class="text">Tech Service Work Done </td>
                            <td colspan="3">
                                @(Html.TextAreaFor(m => m.TechServiceWorkDone, new { style = "width: 500px;height:100px" })

                                                         )
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <input type="button" class="inputbuttonbg inputbig" value="Cancel" onclick="cancel()">
                            </td>
                            <td>
                                <input type="button" class="inputbuttonbg inputbig" onclick="$('#AddForm').submit();" value="Save">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td colspan="6">
                    @if(Model.Code !=null)
                    {

                    @(Html.Kendo().Grid(Model.Tests)
.Name("scriptGrid")
.Columns(columns =>
{
    columns.Bound(p => p.TestScriptID).Title("Test Script ID");
    columns.Bound(p => p.Test).Title("Comment").EditorTemplateName("ScriptTextArea");
    columns.Command(command =>
    {
        command.Edit();
        command.Destroy();
    });

})
.ToolBar(t=>t.Create())
.Pageable()
.Sortable()
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Filterable()
.DataSource(dataSource => dataSource
        .Ajax()      
        .Model(model =>
{
model.Id(p => p.TestID);
model.Field(p => p.TestScriptID).Editable(false);
})
          .Update(update => update.Action("UpdateScript",
                                    "EquipType"))
                                     .Destroy(update => update.Action("DeleteScript",
                                    "EquipType"))
                                    .Create(create => create.Action("CreateScript", "EquipType")) 
        .PageSize(200)
        .ServerOperation(false)
     )
)
                    }
                </td>
            </tr>
        </table>
    </div>
}
<script>

    $("#AddForm").kendoValidator({
    });

</script>
<script type="text/javascript">

    var somethingChanged = false;
    $(document).ready(function () {
        $('input').change(function () {
            somethingChanged = true;
        });
        $('textarea').change(function () {
            somethingChanged = true;
        });
    });

    function cancel() {
        if (somethingChanged) {
            var r = confirm("Do you wish to discard any changes you have made?");
            if (r) {
                back();
            }
        }
        else {
            back();
        }
    }
    function back() {
        var popup = '@Model.PopUp';
         if (popup == "True") {
             var url = '@Url.Action("IndexPopUp", "EquipType")';
             window.location.href = url;
         }
         else {
             window.location.href = '@Url.Action("Index", "EquipType")';
         }
     }
</script>
<script>
    $(document).ready(function () {

        $('#rpForm').live("keypress", function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                e.preventDefault();
                e.stopPropagation();
                $(this).closest('form').submit();
            }
        });
    });
</script>