@model  IEnumerable<MDS.Models.CustomerForm>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Back", "Index")

<h1>Contracts Due for Renewal This Month</h1>
<style type="text/css">
    td {
        padding: 5px;
    }

    #eqGrid tbody tr:hover {
        cursor: pointer !important;
    }
</style>
@using (Html.BeginForm("ContractsDueRenewalThisMonth", "Dashhboard", FormMethod.Post, new { id = "ContractsDueRenewalThisMonth" }))
{
    <div class="contact-info">
        <div class="content">
            <table width="100%">
                <tr>
                    <td colspan="6">
                        @(Html.Kendo().Grid(Model)
.Name("rpCustomer")
.Columns(columns =>
{
    columns.Bound(p => p.CompanyName).Title("Name").ClientTemplate(@Html.ActionLink("#=CompanyName#", "../Customer/Edit", new { id = "#=CustomerCode#" }).ToHtmlString());
    columns.Bound(p => p.CustomerCode).Title("Code");
    columns.Bound(p => p.ContractRenewalDate).Title("Contract Renewal Date").ClientTemplate("#= (ContractRenewalDate == null) ? ' ' : kendo.toString(ContractRenewalDate, 'dd/MM/yyyy') #");



})
.Pageable()
.Sortable()
.Filterable()
.DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(200)
        .ServerOperation(false)
     )
                        )
                    </td>
                </tr>
            </table>

            @*<table>
                <tr>
                    <th>
                        Equipment
                    </th>
                    <th>
                        Next Service (Month / Year)
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        MDS Item No
                    </th>
                    <th>
                        Warrant Expiry Date
                    </th>
                    <th>
                        Model
                    </th>
                </tr>
                @foreach (MDS.Models.EquipmentCustNextServiceList item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EquipDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NextServiceMonth)
                            /
                            @Html.DisplayFor(modelItem => item.NextServiceYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MDSItemNo)
                                                </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WarrantyExpirationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                    </tr>
        }
            </table>*@
</div>
</div>
}