@model List<MDS.Controllers.EngineerController.EngTimesClientDetails>
@{
    Layout = null;
}
<table border="1">
    <tr>
        <th><b>Type</b></th>
        <th><b>Job No</b></th>
        <th><b>Start</b></th>
        <th><b>End</b></th>
        <th><b>Duration (Hours)</b></th>
        @if (MDS.Controllers.LoginController.Warranty)
        {
        <th><b>Warranty</b></th>
        }
    </tr>
    @{
        double ttl = 0;
    }
    @foreach (var item in Model.OrderBy(i=>i.Start))
    {
        double hrs = item.End.Subtract(item.Start).TotalMinutes / 60.0;
        ttl += hrs;
<tr>
    <td>@item.RS</td>
    @if (item.RS == "Repair")
    {
        <td><a href="~/Repair/Edit?id=@item.ServiceJobID" target="_blank">@item.ServiceJob</a></td>
    }
    else
    {

        <td><a href="~/Service/Edit?id=@item.ServiceJobID" target="_blank">@item.ServiceJob</a></td>
    }
    <td>@item.Start.ToString("dd-MM-yyyy HH:mm")</td>
    <td>@item.End.ToString("dd-MM-yyyy HH:mm")</td>
    <td>@hrs.ToString("0.00")</td>
    @if (MDS.Controllers.LoginController.Warranty)
    {
        if (item.Warranty)
        {
            <td><input type="checkbox" checked="checked" /></td>
        }
        else
        {
            <td><input type="checkbox" /></td>

        }
    }
</tr>
    }
<tr>
    <td colspan="4">Total</td>
    <td>@ttl.ToString("0.00")</td>
    <td></td>
</tr>
</table>
@*<script type="text/javascript">
    function lnk(id, RS) {
        if (RS == "Repair") {
            window.open("~/Repair/Edit?id=" + id);

        }
        else {
            window.open("~/Service/Edit?id=" + id);
        }
        return false;
    }
</script>*@