@model MDS.Models.ServiceWorkOderSearch

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service Work Order Search</h1>
<style type="text/css">
    td {
        padding: 5px;
    }

    #swoGrid tbody tr:hover {
        cursor: pointer !important;
    }
</style>
@using (Html.BeginForm("Index", "ServiceWorkOrder", FormMethod.Post, new { id = "SWOForm" }))
{
    <div class="contact-info">
        <div class="content">
            <table width="100%">
                <tr>
                    <td width="16%">Show services performed since filter:</td>
                    <td width="16%">

                        @if (Model.ServicesAfterDateFilter)
                        {
                            @Html.CheckBox("chkServicesAfterDateFilter", true, new { style = "width:20px;height:20px" })
                        }
                        else
                        {
                            @Html.CheckBox("chkServicesAfterDateFilter", false, new { style = "width:20px;height:20px" })
                        }

                    </td>
                    <td width="16%" class="dateout">Only show services performed since</td>
                    <td width="16%" class="dateout">
                        @(Html.Kendo().DatePickerFor(m => m.ServicesAfterDate)
                            .Name("ServicesAfterDate")
                            .Value("01/01/2000")
                            .Format("dd/MM/yyyy")
                            .ParseFormats(new string[] { "dd/MM/yyyy" })
              .HtmlAttributes(new { style = "width:120px", type = "text" })
                    )
                </td>
                <td width="16%">
                    Only display incomplete service records
                </td>
                <td width="16%">

                    @Html.CheckBoxFor(m => m.DataEntryIncompeteOnly, new { Name = "DataEntryIncompeteOnly",style = "width:20px;height:20px" })

                </td>
               </tr>
                <tr>
                <td>Equipment Item: </td>
                                    <td>
                    @Html.HiddenFor(m => m.SelectedEquipment)
                @Html.HiddenFor(m => m.EquipmentData)
                @(Html.Kendo().Window()
                            .Name("window1")
                            .Title("Equipment Search")
                            .Width(1000)
                            .Draggable(true)
                            .Height(500)
                            .Visible(false)
                            .Iframe(true)
                            .Modal(true)
                            .Events(e => e.Close("onClose1"))
                ) <a onclick="OpenWindow1();" class="button"><span style="font-weight: bold">Pick Equipment</span></a>
            </td>
            <td colspan="3"><span id="spDetails1"></span></td>
            <td><a onclick="ClearEquipment();" id="btnEquipmentClear" class="button"><span style="font-weight: bold">Clear Equipment</span></a> </td>
        </tr>
    @if ((MDS.Controllers.LoginController.IsAdmin(@User.Identity.Name) == MDS.Controllers.ATC.Admin) || (MDS.Controllers.LoginController.AdminTechCustomer(@User.Identity.Name)=="Tech"))
         {

        <tr>
            <td>Service Job:</td>
            <td>
                @(Html.Kendo().Window()
                        .Name("window")
                        .Title("Service Job Search")
                        .Width(1000)
                          .Draggable(true)
                        .Height(500)
                        .Visible(false)
                        .Iframe(true)
                         .Modal(true)
                        .Events(e => e.Close("onClose"))
            )  <a onclick="OpenWindow();" class="button"><span style="font-weight: bold">Pick Service Job</span></a>
        </td>
        <td colspan="3"><span id="spDetails"></span></td>
        <td><a onclick="ClearService();" id="btnServiceClear" class="button"><span style="font-weight: bold">Clear Service Job</span></a> </td>
    </tr>
                }
    <tr>
        <td width="70">
            Equip Type:
        </td>
        <td>
          @if (MDS.Controllers.LoginController.AllCustomers(User.Identity.Name))
                    {
                          @(Html.Kendo().DropDownListFor(m => m.Equiptype)
                          .Name("Equiptype")
                          .DataTextField("Name")
                          .DataValueField("EquipTypeCode")
                          .BindTo(Model.EquipTypeList)
                          .Filter("StartsWith")
                        .HtmlAttributes(new { style = "width:200px", data_required_msg = "Equip Type is required." })
                        )

                    }
                    else
                    {
                        
                    @(Html.Kendo().DropDownListFor(m => m.Equiptype)
                    
                          .Name("Equiptype")
                          .DataTextField("Name")
                          .DataValueField("EquipTypeCode")
                          .Filter("StartsWith")

                         .DataSource(dataSource =>
                          {
                              dataSource.Read(read =>
                              {
                                  read.Action("GetEquipmentTypeSite", "Service")
                                     .Data("CustomerSiteData");
                              })
                              .ServerFiltering(true);
                          })

                                  .AutoBind(false)
                                 .CascadeFrom("Customerid")
                          .HtmlAttributes(new { style = "width:200px", data_required_msg = "Equip Type is required." })
                        )
                        }

            

        </td>
        <td width="60">
            Engineer:
        </td>
        <td>
            @(Html.Kendo().DropDownListFor(m => m.EngineerID)
             .Filter("startswith")
                            .Name("EngineerID")
                            .DataTextField("EngineerName")
                            .DataValueField("EngineerID")
                              .BindTo(Model.EngineerList)
                              .HtmlAttributes(new { style = "width:200px", data_required_msg = "Engineer is required." })
        )

    </td>
    <td>Branch:</td>
         <td>
        @(Html.Kendo().DropDownListFor(m => m.Branchid)
 
                          .Name("Branchid")
                          .DataTextField("BranchName")
                          .DataValueField("BranchID")
                                                    .Enable(MDS.Controllers.LoginController.AllCustomers(User.Identity.Name))

                          .BindTo(Model.BranchList)
                          .HtmlAttributes(new { style = "width:200px", data_required_msg = "Branch is required." })
    )
</td>
</tr>
<tr>
    <td width="60">
        Customer:
    </td>
    <td>
        @(Html.Kendo().DropDownListFor(m => m.Customerid)
         .Filter(MDS.Controllers.LoginController.SearchType)
                          .Name("Customerid")
                          .DataTextField("CompanyName")
                          .DataValueField("CustomerCode")
                          .Enable(MDS.Controllers.LoginController.AllCustomers(User.Identity.Name))
                          
                          .BindTo(Model.CustomerList)
                          .HtmlAttributes(new { style = "width:200px", data_required_msg = "Customer is required." })
    )

</td>
<td width="100">
    Customer-Site:
</td>
<td>
    @(Html.Kendo().DropDownListFor(m => m.Department)
                          .Name("Department")
                          .DataTextField("Department")
                          .DataValueField("DepartmentID")
                          .DataSource(dataSource =>
                                  {
                                      dataSource.Read(read =>
                                      {
                                          read.Action("GetCustomerSiteX", "Service")
                                             .Data("CustomerSiteData");
                                      })
                                      .ServerFiltering(true);
                                  })
                                  .AutoBind(false)
                            
                                 .CascadeFrom("Customerid")
                          .HtmlAttributes(new { style = "width:200px", data_required_msg = "Customer Site is required." })
)
</td>
<td>
    Location:
</td>
<td>
    @(Html.Kendo().DropDownListFor(m => m.Location)
     .Filter("startswith")
                                .Name("Location")
                                .DataTextField("Location")
                                .DataValueField("Locationid")
                                .DataSource(dataSource =>
                                  {
                                      dataSource.Read(read =>
                                      {
                                          read.Action("GetCustomerLocationBlank", "Service")
                                             .Data("CustomerSiteData");
                                      })
                                      .ServerFiltering(true);
                                  })
                                  .AutoBind(false)
                                 .CascadeFrom("Customerid")
                                .HtmlAttributes(new { style = "width:200px" })
)
</td>
</tr>
<tr>
        <td colspan="2">
        <table>
            <tr style="color:navy">
<td>
    Limit number of Records to no more than:
</td>
<td>
    @(Html.Kendo().DropDownListFor(m => m.SelCnt)
                          .Name("SelCnt")
                          .BindTo(Model.Cnt)
                          .HtmlAttributes(new { style = "width:100%", data_required_msg = "Records is required." })
             
                          )
    </td>
    </tr>
    </table>
</td>

    <td>
        <a class="button" onclick="$('#SWOForm').submit();"><span>Search</span></a>
    </td>
    <td colspan="5">

        <a class="button" id="btnCreateRepairJobForWorkOrdersNotServiceable" style="display: none;"><span>Create a Repair Job For all the listed Work Orders Not marked as Serviceable</span></a>
    </td>
</tr>

<tr>
    <td colspan="6">
        @if (MDS.Controllers.LoginController.IsAdmin(@User.Identity.Name) == MDS.Controllers.ATC.Admin)
        {
        <input type="button" class="inputbuttonbg inputbig" value="Add New Work Order" onclick="window.location.href = 'serviceWorkOrder/add'">
        <input type="button" class="inputbuttonbg inputbig" value="Add a Service Work Order from Currently" onclick="createWO()">
        <input type="button" class="inputbuttonbg inputbig" value="Delete Service Work Order" id="btnDelete">
        }
        <input type="submit" id="button" class="inputbuttonbg inputbig" value="Print Service Work Order List">
            <input type="image" value="Excel" src="~/Images/excel.png" id="btnPrintExcel">

    </td>
</tr>
</table>
              
            <script type="text/javascript">
                function reportpopup(id) {
                    window.open('Reports/ServiceWorkOrderDetail.aspx?serviceID=' + id + '&branchID=' + @MDS.Controllers.LoginController.BranchID(@User.Identity.Name).ToString(),'report','left=30,top=30,width='+(screen.width-60).toString()+', height='+(screen.width-60).toString());
                }
            </script>
<table width="100%">
    <tr>
        <td colspan="6">
            @(Html.Kendo().Grid(Model.ServiceWorkOrder)
.Name("swoGrid")
.Columns(columns =>
{
    if (MDS.Controllers.LoginController.IsAdmin(@User.Identity.Name) == MDS.Controllers.ATC.Admin)
        columns.Bound(p => p.Equipment).Title("Equipment").ClientTemplate(@Html.ActionLink("#=Equipment#", "Edit", new { id = "#=ServiceId#" }).ToHtmlString());
    else
        columns.Bound(p => p.Equipment).Title("Equipment").ClientTemplate(@Html.ActionLink("#=Equipment#", "Edit", "Index", new { onclick = "reportpopup(#=ServiceId#);return false" }).ToHtmlString());
    columns.Bound(p => p.ServiceId).Visible(false);
    columns.Bound(p => p.CompanyName).Title("Company Name");
    columns.Bound(p => p.ServiceArea).Title("Service Area");
    columns.Bound(p => p.Location).Title("Location");
    columns.Bound(p => p.WorkDone).Title("Work Done");
    columns.Bound(p => p.DateServiced).Title("Date Serviced").ClientTemplate("#= (DateServiced == null) ? ' ' : kendo.toString(DateServiced, 'dd/MM/yyyy') #");
    columns.Bound(p => p.EngineerName).Title("Engineer Name");
    if (!MDS.Controllers.LoginController.AllCustomers(@User.Identity.Name))
    {
        columns.Bound(p => p.NotesForNextService).Title("Notes Next Service");
        columns.Bound(p => p.NotesForThisService).Title("Notes");
        columns.Bound(p => p.WarrantyExpirationDate).Title("Warranty Expiration");
        columns.Bound(p => p.PartsCost).Title("Parts Cost");
    }
})
.Pageable()
.Sortable()
.Filterable()
.Selectable(s => s.Mode(GridSelectionMode.Single))
 .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(200)
        .ServerOperation(false)
     )
            )
        </td>
    </tr>

</table>
</div>
</div>

    @Html.HiddenFor(m => m.ServiceJobID)
    @Html.HiddenFor(m => m.ServiceData)
    @Html.HiddenFor(m => m.ServiceClear)
    @Html.HiddenFor(m => m.EquipmentClear)
    @Html.HiddenFor(m => m.ServicesAfterDateFilter)
    @(Html.Kendo().Window()
                            .Name("PrintWOList")
                            .Title("Service Work Order List")
                            .Width(1000)
                            .Height(600)
                            .Visible(false)
                            .Draggable(true)
                            .Iframe(true)
                             .Modal(true)
    )
    <input id="hdServiceId" type="hidden" />
}

<script>
    $("#SWOForm").kendoValidator({
    });

</script>
<script>
    $('input[name=Equiptype]').on('change', function () {
        sessionStorage.setItem('Equiptypew', $(this).val());
    });
  //  $('input[name=Customerid]').on('change', function () {
   //     sessionStorage.setItem('Customeridw', $(this).val());
   // });
    $('input[name=Department]').on('change', function () {
        sessionStorage.setItem('Departmentw', $(this).val());
    });
    $(document).ready(function () {


        $("input[name=Equiptype]").data('kendoDropDownList').value(sessionStorage.getItem('Equiptypew'));
     //   $("input[name=Customerid]").data('kendoDropDownList').value(sessionStorage.getItem('Customeridw'));
        $("input[name=Department]").data('kendoDropDownList').value(sessionStorage.getItem('Departmentw'));

        $("#spDetails").text('@Model.ServiceData');
        $("#spDetails1").text('@Model.EquipmentData');

        var EquipClear = '@Model.EquipmentClear';
        var ServiceClear = '@Model.ServiceClear';
        var RepairClear = '@Model.RepairClear';


        var ServicesAfterDateFilter = '@Model.ServicesAfterDateFilter';
        if (ServicesAfterDateFilter == "True") {
            $(".dateout").show();
        }
        else {
            $(".dateout").hide();
        }

        if (EquipClear == "C")
        { $("#btnEquipmentClear").show(); }
        else { $("#btnEquipmentClear").hide(); }

        if (RepairClear == "C")
        { $("#btnCreateRepairJobForWorkOrdersNotServiceable").show(); }
        else { $("#btnCreateRepairJobForWorkOrdersNotServiceable").hide(); }

        if (ServiceClear == "C")
        { $("#btnServiceClear").show(); }
        else { $("#btnServiceClear").hide(); }


        if ($("#spDetails").text() != "") {
            $("#btnCreateRepairJobForWorkOrdersNotServiceable").show();
        }

        $("#btnCreateRepairJobForWorkOrdersNotServiceable").click(function (event) {
            event.preventDefault();
            $("#divProgress").show();
            $.post('@Url.Action("CreateRepairJob", "ServiceWorkOrder")', $("#SWOForm").serialize(), function (data) {
                $("#divProgress").hide();
                window.location.href = '/repair';
            });
        });

        $("#btnDelete").click(function () {
            var entityGrid = $("#swoGrid").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            if (selectedItem == undefined) {
                ShowAlert("Please select the service work order first");
            }
            else {

                swal({
                    title: "",
                    text: "Are you SURE you want to delete this service work order now?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "green",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
function (isConfirm) {
    if (isConfirm) {
        var ServiceId = selectedItem.ServiceId;
        $.ajax({
            url: '@Url.Action("DeleteServiceWokOrder", "ServiceWorkOrder")',
            type: 'POST',
            datatype: "json",
            data: { ServiceID: ServiceId },
            success: function (response) {
                alert(response.msg);
                if (response.msg.indexOf("Successfully") >= 0) {
                    $("#SWOForm").submit();
                }
            },
            error: function (req, status, error) {
            }
        });
    }
    else {
    }
});

            }
        });

        $("#btnPrintExcel").click(function (event) {
            event.preventDefault();

            var bid = '@Model.Branchid';
            var ServicesAfterDate;
            if ('@Model.ServicesAfterDate.Year'== 1)
                ServicesAfterDate='2000-01-01';
            else 
                ServicesAfterDate='@Model.ServicesAfterDate.ToString("yyyy-MM-dd")';

            var EquipID = '-1';
            if ('@Model.SelectedEquipment' != '' && '@Model.SelectedEquipment' != null)
                EquipID = '@Model.SelectedEquipment';
            var ServiceJobID='-1';
            if ('@Model.ServiceJobID' != '' && '@Model.ServiceJobID'!=null)
                ServiceJobID = '@Model.ServiceJobID';
            var EngineerID='-1';
            if ('@Model.EngineerID' != '' && '@Model.EngineerID'!=null)
                EngineerID = '@Model.EngineerID';
            var url = 'Reports/ServiceWorkOrderList.aspx?customerID=' + '@Model.Customerid' + '&equipmentType=' + '@Model.Equiptype' + '&BranchID=' + bid + '&dataEntryIncompleteOnly=' + '@Model.DataEntryIncompeteOnly' + '&serviceJobID=' + ServiceJobID + '&equipmentID=' + EquipID + '&department=' + '@Model.Department' + '&location=' + '@Model.Location' + '&engineerID=' + EngineerID + '&servicesAfterDate=' + ServicesAfterDate + '&Excel=true' + '&Cnt=' + '@Model.SelCnt';
            window.open(url , 'Repair', 'scrollbars=yes,fullscreen=yes,left=25,top=25,width=' + (screen.width - 50).toString() + ',height=' + (screen.height - 130).toString())

/*            $.post('amp Url.Action("PrintWOListExcel", "ServiceWorkOrder")', $("#SWOForm").serialize(), function (data) {
                openCenteredWindow(data.URL);
            });*/
                });

        $("#btnPrint").click(function (event) {
            event.preventDefault();
            var bid = '@Model.Branchid';
            var ServicesAfterDate;
            if ('@Model.ServicesAfterDate.Year'== 1)
                ServicesAfterDate='2000-01-01';
            else 
                ServicesAfterDate='@Model.ServicesAfterDate.ToString("yyyy-MM-dd")';

            var EquipID = '-1';
            if ('@Model.SelectedEquipment' != '' && '@Model.SelectedEquipment' != null)
                EquipID = '@Model.SelectedEquipment';
            var ServiceJobID='-1';
            if ('@Model.ServiceJobID' != '' && '@Model.ServiceJobID'!=null)
                ServiceJobID = '@Model.ServiceJobID';
            var EngineerID='-1';
            if ('@Model.EngineerID' != '' && '@Model.EngineerID'!=null)
                EngineerID = '@Model.EngineerID';
            var url = 'Reports/ServiceWorkOrderList.aspx?customerID=' + '@Model.Customerid' + '&equipmentType=' + '@Model.Equiptype' + '&BranchID=' + bid + '&dataEntryIncompleteOnly=' + '@Model.DataEntryIncompeteOnly' + '&serviceJobID=' + ServiceJobID + '&equipmentID=' + EquipID + '&department=' + '@Model.Department' + '&location=' + '@Model.Location' + '&engineerID=' + EngineerID + '&servicesAfterDate=' + ServicesAfterDate+ '&Cnt=' + '@Model.SelCnt';
            window.open(url , 'Repair', 'scrollbars=yes,fullscreen=yes,left=25,top=25,width=' + (screen.width - 50).toString() + ',height=' + (screen.height - 130).toString())
        
//            $.post('amp Url.Action("PrintWOList", "ServiceWorkOrder")', $("#SWOForm").serialize(), function (data) {
                //var window = $("#PrintWOList").data("kendoWindow");
                //window.Visible = true;
                //var actionURL = data.URL;
                //window.refresh({
                //    url: actionURL,
                //    data: {}
                //});
                //var width95 = (screen.width) * 95 / 100;
                //var height75 = (screen.height) * 75 / 100;
                //window.setOptions({ width: width95, height: height75 });
                //window.center();
                //window.open();
                //window.open(data.URL, 'newwindow', 'width=800, height=600'); return false;
               // openCenteredWindow(data.URL);
            //});
        });

        $('#SWOForm').live("keypress", function (e) {
            //alert('test');
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                e.preventDefault();
                e.stopPropagation();
                $(this).closest('form').submit();
            }
        });

        $("#chkServicesAfterDateFilter").click(function () {
            if ($(this).is(":checked")) {
                $(".dateout").show();
                $("#ServicesAfterDateFilter").val(true);
            }
            else {
                $(".dateout").hide();
                $("#ServicesAfterDateFilter").val(false);
            }
        });
    });
    function CustomerSiteData() {
        return {
            Customerid: $("#Customerid").val(),
            Branchid: $("#Branchid").val()
        };
    }

    function ClearEquipment() {
        $('#EquipmentClear').val("");
        $("#SelectedEquipment").val("-1");
        $("#btnEquipmentClear").hide();
        $("#EquipmentData").val("");
        $('#spDetails1').text("");
    }

    function ClearService() {
        $('#ServiceClear').val("");
        $("#ServiceJobID").val("-1");
        $("#btnServiceClear").hide();
        $('#ServiceData').val("");
        $('#spDetails').text("");
        $("#btnCreateRepairJobForWorkOrdersNotServiceable").hide();
    }

    function OpenWindow() {

        var window = $("#window").data("kendoWindow");

        window.Visible = true;
        var actionURL = '@Url.Action("SearchServiceJobLoad", "ServiceWorkOrder")';
        window.refresh({
            url: actionURL,
            data: {}
        });
        var width95 = (screen.width) * 95 / 100;
        var height75 = (screen.height) * 75 / 100;
        window.setOptions({ width: width95, height: height75 });
        window.center();
        window.open();
    }

    function onClose(e) {
        if ($("#ServiceJobID").val() != "" && $("#ServiceJobID").val() != null) {
            $.ajax({
                url: '@Url.Action("GetServiceJobDetails", "ServiceWorkOrder")',
                type: 'POST',
                datatype: "json",
                data: { ServiceJobId: $("#ServiceJobID").val() },
                success: function (response) {
                    $('#spDetails').text(response.ServiceInfo);
                    $('#ServiceData').val(response.ServiceInfo);
                    $("#btnCreateRepairJobForWorkOrdersNotServiceable").show();
                    $('#ServiceClear').val("C");
                    $('#RepairClear').val("C");
                    $('#SWOForm').submit();
                },
                error: function (req, status, error) {
                    //  alert("R: " + req + " S: " + status + " E: " + error);
                }
            });
        }
    }

    function OpenWindow1() {

        var window1 = $("#window1").data("kendoWindow");

        window1.Visible = true;
        var actionURL = '@Url.Action("SearchEquipmentLoad", "Repair")';
        window1.refresh({
            url: actionURL,
            data: {}
        });
        var width95 = (screen.width) * 95 / 100;
        var height75 = (screen.height) * 75 / 100;
        window1.setOptions({ width: width95, height: height75 });
        window1.center();
        window1.open();
    }

    function onClose1(e) {
        if ($("#SelectedEquipment").val() != "" && $("#SelectedEquipment").val() != null) {
            $.ajax({
                url: '@Url.Action("GetEquipInfomationData", "Repair")',
                type: 'POST',
                datatype: "json",
                data: { EquipUID: $("#SelectedEquipment").val() },
                success: function (response) {
                    $('#spDetails1').text(response.CustomerInfo);
                    $('#EquipmentData').val(response.CustomerInfo);
                    $("#btnEquipmentClear").show();
                    $('#EquipmentClear').val("C");
                },
                error: function (req, status, error) {
                    //  alert("R: " + req + " S: " + status + " E: " + error);
                }
            });
        }
    }

    function createWO() {
        var entityGrid = $("#swoGrid").data("kendoGrid");
        var selectedItem = entityGrid.dataItem(entityGrid.select());
        if (selectedItem == undefined) {
            ShowAlert("Please select existing from which to Equipment, customer, engineer will be copied to new require");
        }
        else {
            @*var r = confirm("Are you sure you wish to create new Service work order based on existing?");
            if (r) {
                $("#divProgress").show();
                var ServiceId = selectedItem.ServiceId;
                $.ajax({
                    url: '@Url.Action("CreateWO", "ServiceWorkOrder")',
                    type: 'POST',
                    datatype: "json",
                    data: { ID: ServiceId },
                    success: function (response) {
                        $("#divProgress").hide();
                        window.location.href = "ServiceWorkOrder/Edit/" + response.NewServiceID;
                    },
                    error: function (req, status, error) {
                        //  alert("R: " + req + " S: " + status + " E: " + error);
                    }
                });
            }*@
            var ServiceId = selectedItem.ServiceId;
            swal({
                title: "Are you sure?",
                text: "Do you wish to create new Service work order based on existing?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "green",
                confirmButtonText: "Yes (The new work order will now be added to the database)",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
function (isConfirm) {
    if (isConfirm) {
        $.ajax({
            url: '@Url.Action("CreateWO", "ServiceWorkOrder")',
            type: 'POST',
            datatype: "json",
            data: { ID: ServiceId },
            success: function (response) {
                window.location.href = '@Url.Action("EditNew", "ServiceWorkOrder")' + '/' + response.NewServiceID;
            },
            error: function (req, status, error) {
                //  alert("R: " + req + " S: " + status + " E: " + error);
            }
        });
    }
    else {

    }
});

        }
    }



</script>
