@model MDS.Models.LoginTableVM
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="breadcrumb">
     @Html.ActionLink("Home", "Index", "Dashboard")
    » @Html.ActionLink("Equipment Type and Test Script", "Index", "EquipType")
</div>*@
<style type="text/css">
    td {
        padding: 5px;
    }
</style>
@if (ViewBag.Popup != null && ViewBag.Popup == 1)
{ 
    <script type="text/javascript">
        $("#container-header").hide();
        $("#hdPopUp").val("1");
    </script>
}
<h1>Login Detail</h1>
@using (Html.BeginForm("Add", "ClientReporting", FormMethod.Post, new { id = "AddForm" }))
{
   
@Html.HiddenFor(mbox => mbox.IsUpdate)   
@Html.HiddenFor(mbox => mbox.OldUserName)   
    <input id="hdPopUp" type="hidden" />
    <div id="box2">
        <table cellspacing="8" cellpadding="0" width="100%" border="0">
            <tr>
                <td colspan="2">
                    @Html.ValidationSummary(true)
                </td>
            </tr>
            <tr>
                <td width="50%">

                    <table>

                        <tr>
                            <td class="text">User Name <span style="color: red;">*</span></td>
                            <td>@(Html.Kendo().TextBoxFor(mbox => mbox.UserName)
                                            .Name("UserName")
                                            .HtmlAttributes(new { data_required_msg = "User Name is required.", required = "required", style = "width: 240px" })
                                            )</td>
                            </tr>

                        <tr>
                            <td class="text">Password <span style="color: red;">*</span></td>
                            
                       
                            <td>@(Html.Kendo().TextBoxFor(mbox => mbox.Password)
                                            .Name("Password")
                                            .HtmlAttributes(new { data_required_msg = "Password is required.", required = "required", style = "width: 240px" })
                                            )</td>
                        </tr>

                        <tr>
                             <td width="100">Customer:
                    </td>
                    <td>@(Html.Kendo().DropDownListFor(m => m.Customer)
                          .Name("Customer")
                          .DataTextField("CompanyName")
                          .DataValueField("CustomerCode")
                          .BindTo(Model.CustomerList)
                          .HtmlAttributes(new { style = "width:150px", data_required_msg = "Customer is required." })
                        )

                    </td>
                            
                        </tr>
                        <tr>

                            <td>
                                <input type="button" class="inputbuttonbg inputbig" value="Cancel" onclick="cancel()">
                            </td>
                            <td>
                                <input type="button" class="inputbuttonbg inputbig" onclick="$('#AddForm').submit();" value="Save">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        @*<table>
            <tr>
                <td colspan="6">
                    @if(Model.Code !=null)
                    {

                    @(Html.Kendo().Grid(Model.Tests)
.Name("scriptGrid")
.Columns(columns =>
{
    columns.Bound(p => p.TestScriptID).Title("Test Script ID");
    columns.Bound(p => p.Test).Title("Comment").EditorTemplateName("ScriptTextArea");
    columns.Command(command =>
    {
        command.Edit();
        command.Destroy();
    });

})
.ToolBar(t=>t.Create())
.Pageable()
.Sortable()
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Filterable()
.DataSource(dataSource => dataSource
        .Ajax()      
        .Model(model =>
{
model.Id(p => p.TestID);
model.Field(p => p.TestScriptID).Editable(false);
})
          .Update(update => update.Action("UpdateScript",
                                    "EquipType"))
                                     .Destroy(update => update.Action("DeleteScript",
                                    "EquipType"))
                                    .Create(create => create.Action("CreateScript", "EquipType")) 
        .PageSize(200)
        .ServerOperation(false)
     )
)
                    }
                </td>
            </tr>
        </table>*@
    </div>
}
<script>

    $("#AddForm").kendoValidator({
    });

</script>
<script type="text/javascript">

    var somethingChanged = false;
    $(document).ready(function () {
        $('input').change(function () {
            somethingChanged = true;
        });
        $('textarea').change(function () {
            somethingChanged = true;
        });
    });

    function cancel() {
        if (somethingChanged) {
            var r = confirm("Do you wish to discard any changes you have made?");
            if (r) {
                back();
            }
        }
        else {
            back();
        }
    }
    function back() {
        var popup = '@Model.PopUp';
         if (popup == "True") {
             var url = '@Url.Action("IndexPopUp", "ClientReporting")';
             window.location.href = url;
         }
         else {
             window.location.href = '@Url.Action("Index", "ClientReporting")';
         }
     }
</script>
