@model MDS.Models.Login
@{
    ViewBag.Title = "Retrieve Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("RetrievePassword", "Login", FormMethod.Post, new { id = "RetrievePassword" }))
{
    @Html.AntiForgeryToken()
<div id="box2">
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="content logincontent2">
        <p style="color:red;">@Html.ValidationSummary(true, "Error:") </p>
        <p><strong>Email / Login</strong></p>
        <b>User Name:</b><br>
        @(Html.Kendo().TextBoxFor(m => m.UserName)
                                                               .Name("UserName")
                                                               .HtmlAttributes(new { style = "width:300px", /*required = "required",*/ data_required_msg = "User Name is required." })
        )
        @Html.Hidden("UserName")
        <a onclick="$('#RetrievePassword').submit();" id="btnLogin" class="button"><span>Retrieve</span></a>
        <br />
        <div style="color:red;font-size:10px">check your junk mail if you don't recieve password in inbox</div>
    </div>
</div>

}
<script>
    $("#RetrievePassword").kendoValidator({
    });
</script>
<script type="text/javascript">
    var ButtonKeys = { "EnterKey": 13 };
    $(function () {
        $("#login").keypress(function (e) {
            if (e.which == ButtonKeys.EnterKey) {
                var defaultButtonId = "btnLogin";
                $("#" + defaultButtonId).click();
                return false;
            }
        });
    });
</script>
