@model MDS.Models.RepairParts

 <div id="window">
                            <div class="armchair">
                                <table>
                                    <tr>
                                        <td>
                                            Part ID
                                        </td>
                                        <td>
                                             
                                             @(Html.Kendo().AutoCompleteFor(m => m.PartID)
                                               .Name("PartID")
                                              //.HtmlAttributes(new { style = "width: 300px ", required = "required", data_required_msg = "Equipment is required." })
                                             .Placeholder("Search Item")

                                                                .DataTextField("partid")
                                                       //.Events(e => e
                                                       //     //.Select("autocomplete_select")
                                                       //     .Change("autocomplete_change")  
                                                       //     )                                                  
                                              .DataSource(source =>
                                                 {
                                                     source.Read(read =>
                                                     {
                                                         read.Action("PartItem", "Repair"); //Set the Action and Controller name
                                                         //.Data("onAdditionalData");
                                                     })
                                                     .ServerFiltering(true);

                                                 })

                                         )
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                           Part Name
                                        </td>
                                        <td> 
                                             @(Html.Kendo().TextBoxFor(m=>m.PartName)
                                              .Name("PartName")
                                            .HtmlAttributes(new { style = "width: 200px " })   
                                         )
                                        </td>
                                        
                                    </tr>                                    
                                    <tr>
                                        <td>
                                            Number Of Parts
                                        </td>
                                        <td> 
                                          @(Html.Kendo().NumericTextBoxFor(m=>m.NoOfParts)
                                              .Name("NoOfParts")
                                            .HtmlAttributes(new { style = "width: 200px " })   
                                         )

                                        </td>
                                    </tr>                                   
                                    <tr>
                                        <td>
                                             Cost
                                        </td>
                                        <td>
                                            @(Html.Kendo().CurrencyTextBoxFor(m=>m.Cost)
                                            .Name("Cost")
                                            .HtmlAttributes(new { style = "width: 200px " })   
                                         )
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            Fault Detail
                                        </td>
                                        <td> 
                                             @(Html.Kendo().TextBoxFor(m=>m.FaultDetail)
                                             .Name("FaultDetail")
                                            .HtmlAttributes(new { style = "width: 200px " })   
                                         )
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            Work Done
                                        </td>
                                        <td> 
                                             @(Html.Kendo().TextBoxFor(m => m.WorkDone)
                                             .Name("WorkDone")
                                            .HtmlAttributes(new { style = "width: 200px " })   
                                         )

                                        </td>
                                    </tr>
                                </table>
 
                               
 </div>